<div class="directionsContainer">
  <div id="directionsIntro">
    <h1 class="getDirectionsHeader">GET DIRECTIONS</h1>
    <p class="getDirectionsBody">Map Out Your Trip!</p>
  </div>
  <div class="fullAddress">
    <p id="addressTitle">ADDRESS:</p>
    <p>5727 Westpark Drive. Suite 108</p>
    <P>Charlotte, NC 28217</P>
  </div>
  <div class="mapAddress">
    <iframe width="600" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q=5727%20Westpark%20Drive.%20Suite%20108&key=AIzaSyAIVUDg6wKyXTBVgKkOWNm7ZOl1T1raw04" allowfullscreen></iframe>
  </div>
</div>
