<div id="socialContainer">
  <div id="socialIntro">
    <h1 class="getSocialHeader">GET SOCIAL</h1>
    <p class="getSocialBody">Stay Connected Wherever You Are!</p>
  </div>
  <div id="socialTabContainer">
    <tabset>
      <tab customClass="tabStyle">
        <ng-template tabHeading>
          <fa-icon [icon]="twitter"></fa-icon>
        </ng-template>
        <p>I've got an HTML heading. Pretty cool!</p>
      </tab>
      <tab customClass="tabStyle">
        <ng-template tabHeading>
          <fa-icon [icon]="instagram"></fa-icon>
        </ng-template>
        <p>I've got an HTML heading. Pretty cool!</p>
      </tab>
      <tab customClass="tabStyle">
        <ng-template tabHeading>
          <fa-icon [icon]="facebook"></fa-icon>
        </ng-template>
        <p>I've got an HTML heading. Pretty cool!</p>
      </tab>
    </tabset>
  </div>
</div>
