<header>
  <div id="desktopNavContainer">
    <div class="getConnected">
      <div class="social">
        <p>Get Connected</p>
        <a class="socialIcon"><fa-icon [icon]="youtube"></fa-icon></a>
        <a class="socialIcon"><fa-icon [icon]="facebook"></fa-icon></a>
        <a class="socialIcon"><fa-icon [icon]="twitter"></fa-icon></a>
        <a class="socialIcon"><fa-icon [icon]="instagram"></fa-icon></a>
        <form>
          <div id="navbar-search-box" class="form-group">
            <input type="text" size="120" placeholder="SEARCH EVENTS">
            <button class="buttonSearch">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </div>
        </form>
        <div>
          <button class="logIn">
            Log In
            <fa-icon id="userIcon" [icon]="user"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="navContainer">
      <div class="logo">
        <app-chlogo></app-chlogo>
      </div>
      <nav class="desktopNavTabs">
        <ul class="desktopTabs">
          <li>TICKETS</li>
          <li>PLAN YOUR VISIT</li>
          <li>VIP MEMBERS</li>
          <li>ABOUT US</li>
        </ul>
      </nav>
    </div>
  </div>
</header>
