<div class="titleContainer">
  <h2 id="eventsTitle">UPCOMING EVENTS</h2>
  <tabset class="nav nav-tabs navTabs">
    <tab customClass="desktopEventsTabs">
      <ng-template tabHeading>
        <p><fa-icon [icon]="grid"></fa-icon></p>
      </ng-template>
      <app-eventgrid></app-eventgrid>
    </tab>
    <tab customClass="desktopEventsTabs">
      <ng-template tabHeading>
        <fa-icon [icon]="list"></fa-icon>
      </ng-template>
      <app-eventlist></app-eventlist>
    </tab>
  </tabset>
</div>
