<div class="socialMediaFollow">
  <p class="followUs">FOLLOW <a href="#" style="color: #f700f3; text-decoration: none">@CHVENUE</a></p>
</div>
<div class="socialMediaContainer">
  <div class="allPostsContainer">
    <div class="socialMediaPostContainer" *ngFor="let i of repeat">
      <div class="socialMediaPost">
        <div class="socialPoster">
          <fa-icon [icon]="twitter"></fa-icon>
          <a href="#">@CHVENUE</a>
          <p>
            <a href="#"><span class="userProfile">@axs: </span></a><a href="#"><span class="userProfile">.@dylangardner23</span></a>
            will be opening for 'The Walking Dead's' <a href="#"><span class="userProfile">@emmykinney</span></a> on her tour!
            <span class="userProfile">bit.ly/picture</span>
            <span class="userProfile">pic.twitter.com/bgdaseds</span>
          </p>
        </div>
      </div>
      <div class="socialMediaDetails">
        <p>8:14PM / 3 APR 2015</p>
        <a href="#"><fa-icon [icon]="retweet"></fa-icon></a>
        <a href="#"><fa-icon [icon]="reply" href="#"></fa-icon></a>
        <a href="#"><fa-icon [icon]="star" href="#"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
