<div class="socialMediaFollow">
  <p class="followUs">FOLLOW <a href="#" style="color: #f700f3; text-decoration: none">@CHVENUE</a></p>
</div>
<div class="socialMediaContainer">
  <div class="allPostsContainer">
    <div class="socialMediaPostContainer" *ngFor="let i of repeat">
      <div class="socialMediaPost">
        <div class="socialPoster">
          <fa-icon [icon]="facebook"></fa-icon>
          <a href="#">@CHVENUE</a>
          <p>
            <span class="userProfile" href="#">@axs: </span><span class="userProfile" href="#">.@dylangardner23</span>
            will be opening for 'The Walking Dead's' <span class="userProfile" href="#">@emmykinney</span> on her tour!
            <span class="userProfile">bit.ly/picture</span>
            <span class="userProfile">pic.twitter.com/bgdaseds</span>
          </p>
        </div>
      </div>
      <div class="socialMediaDetails">
        <p>8:14PM / 3 APR 2015</p>
        <fa-icon [icon]="retweet" href="#"></fa-icon>
        <fa-icon [icon]="reply" href="#"></fa-icon>
        <fa-icon [icon]="star" href="#"></fa-icon>
      </div>
    </div>
  </div>
</div>
